.caixa-destinos{
    margin-top: 50px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1320px;


}
.estrutura-titulo{
    width: 1320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

} 

.titulo-primario{
    
    font-family: inter;
    font-weight: bold;
    font-size: 25px;
    display: flex;

    

}

.section-low{
    
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lista-destinos{
    margin-top: 50px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1320px;
}

.destinos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 200px;
    gap: px;
    
}

.img-destinos{
    width: 130px;
    height: 130px;
    transition: all 0.2s ease-in-out
}
.img-destinos:hover{
    width: 150px;
    height: 150px;
}